<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenWeather</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link href='./css/main.css' rel='stylesheet' type='text/css' />
</head>

<body>
    <input type='hidden' id='clientId' value="<%=clientId%>"></input>
    <div id='container'></div>
    <script src="js/vendor.bundle.js"></script>
    <script src="js/source.bundle.js"></script>
</body>

</html>